<div class="flex flex-col gap-5">
    <div class="flex justify-between items-center">
        <h1 class="text-4xl">CPU</h1>
        <h1 class="text-2xl">Processor model</h1>
    </div>
    
    <div class="h-80 bg-gray-800 text-white">
        <ngx-charts-area-chart [showGridLines]="true" [autoScale]="false" [yScaleMin]="0" [yScaleMax]="100"
            [animations]="false" [scheme]="colorScheme"  [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="cpuResources" style="fill: white;">
        </ngx-charts-area-chart>
        <!-- <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque aut, excepturi perferendis illo rem maiores praesentium quos aliquid impedit amet esse non perspiciatis dolor, ratione optio! Saepe natus magni ducimus nostrum vero praesentium? Amet, hic, minus suscipit cupiditate corporis illum tempora doloremque quasi fuga voluptas, incidunt minima architecto voluptates soluta officiis recusandae vero animi iste deleniti quo aspernatur cum exercitationem quos cumque! Iste, facere. Tempora aut voluptatibus veniam labore explicabo quidem laborum, molestias laboriosam ratione unde ex dolorum, non obcaecati maiores libero placeat atque, dolore id maxime. Debitis repellendus eaque, optio nam accusantium, autem reprehenderit fugiat iure provident fugit mollitia?
        </p> -->
    </div>
</div>