<div class="flex flex-col gap-5 break-all">
    <div class="flex justify-between items-center">
        <h1 class="text-4xl">CPU</h1>
        <h1 class="text-2xl">{{cpuInfo ? cpuInfo.brand: "CPU"}}</h1>
    </div>
    <div class="text-white relative perfect flex-grow">
        <canvas id="chart" #chart></canvas>
    </div>

    <div id="info" class="flex justify-between min-h-0" *ngIf="cpuInfo">
        <div class="flex-grow flex flex-col gap-5 min-h-0">

            <div class="flex gap-10">
                <div>
                    <h1>Utilization</h1>
                    <p class="text-4xl">{{cpuUsage}}%</p>
                </div>

                <div>
                    <h1>Speed</h1>
                    <p class="text-4xl">3.0GHz</p>
                </div>
            </div>

            <div class="flex gap-10">
                <div>
                    <h1>Processes</h1>
                    <p class="text-4xl">229</p>
                </div>

                <div>
                    <h1>Threads</h1>
                    <p class="text-4xl">2668</p>
                </div>

                <div>
                    <h1>Handles</h1>
                    <p class="text-4xl">108512</p>
                </div>
            </div>

            <div class="flex gap-10">
                <div>
                    <h1>Up time</h1>
                    <p class="text-4xl">3:02:28:59</p>
                </div>
            </div>

        </div>

        <div class="flex-grow flex  justify-between min-h-0">
            <div class="flex flex-col   gap-2 pr-10">
                <h1>Base speed:</h1>
                <h1>Cores:</h1>
                <h1>Logical processors:</h1>
                <h1>Virtualization:</h1>
                <h1>L1 cache:</h1>
                <h1>L2 cache:</h1>
                <h1>L3 cache:</h1>
            </div>
            <div class="flex flex-col flex-grow gap-2">
                <h1>{{cpuInfo.speed}} GHz</h1>
                <!-- cores ve physicalcores yer değiştirebilir -->
                <h1>{{cpuInfo.cores}}</h1>
                <h1>{{cpuInfo.physicalCores}}</h1>
                <h1>{{cpuInfo.virtualization ? "Activated": "Disabled"}}</h1>
                <h1>{{cpuInfo.cache.l1d / 1000 | number : '1.2-2'}} KB</h1>
                <h1>{{(cpuInfo.cache.l2/ 1000000)| number : '1.2-2'}} MB</h1>
                <h1>{{(cpuInfo.cache.l3/ 1000000)| number : '1.2-2'}} MB</h1>
            </div>
        </div>

    </div>
</div>