<div class="flex hover:bg-gray-800 w-full gap-3 px-2 py-4">
    <div class="bg-gray-700">
        <ngx-charts-area-chart [showGridLines]="false" [autoScale]="false" [yScaleMin]="0" [yScaleMax]="100" [animations]="false" [view]="view" [scheme]="colorScheme" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi"
            (select)="onSelect($event) ">
        </ngx-charts-area-chart>
    </div>
    <div class="flex flex-col">
        <h2 class="text-white text-xl">{{title}}</h2>
        <h2 class="text-white">{{cpuUsage}}%</h2>
    </div>
    
</div>